ul, li, h1, h2, h3, h4, h5, h6, html, body {
    margin:0px;
    padding:0px;
}

html {
    width:100%;
}

body {
    width:100%;
}
a {
    text-decoration: none;
}

.container {
    width:100%;
    height:auto;
}
/************************font headers***************************
*********************************************************/
h1 {
    font-size:50px;
    font-family: 'Indie Flower';
}

/************************arrowclickme***************************
*********************************************************/
.click {
    font-size:50px;
    font-family: 'Indie Flower';
    left:-400px;
    top:-600px;
    position:relative;
}

.arrow {
    left:-400px;
    top:-250px;
    position:relative;
}

/************************images***************************
*********************************************************/
#map {
    position:relative;
    width:1024px;
    margin:auto;
    top:0;
    left:0;
    /*margin-top:;*/
    /*top:50%;
    margin-top:-347px;*/
   /* left: 10%;
    transform: translate (-50%, -50%);*/
}


.img1 {
    width:100%;
    height:100%;
    margin:auto;
    position:relative;
    /*top:50%;
    margin-top:-347px;
    left: 10%;
    transform: translate (-50%, -50%);*/
    /*z-index:100;*/
}

/************************pins***************************
*********************************************************/
.added-pin {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;

    position: absolute;
}

#rachel {
    width:20px;
    height:20px;
    top:200px;
    left:100px;
    position:absolute;
}

#lukas {
    width:20px;
    height:20px;
    top:105px;
    left:648px;
    position:absolute;
}

#lori {
    width:20px;
    height:20px;
    top:200px;
    left:1000px;
    position:absolute;
}

#question {
    left:5%;
    bottom:2%;
    position:absolute;
    z-index:400;
}

/************************navbar***************************
*********************************************************/

nav {
    width: 100%;
    overflow:hidden;
    text-align:center;
    padding-top:20px;
    z-index:200;
    padding-bottom:20px;
}

.whole-nav {
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    width:1200px;
}

.navitem {
    display: inline-block;
    margin-right:5%;
    margin-left:5%; 
    vertical-align:top; 
    position:relative;
    text-align:left;
    font-family: 'Indie Flower';
    font-size:30px;
}

.navitem0 {
    display: inline-block;
    margin-right:5%;
    margin-left:5%; 
    vertical-align:top; 
    position:relative;
    text-align:left;
}
.navitem1 {
    display: inline-block;
    margin-right:5%;
    margin-left:5%; 
    vertical-align:top; 
    position:relative;
    text-align:left;
    font-size:20px;
}

.navitem2 {
    display: inline-block;
    margin-right:5%;
    margin-left:5%; 
    vertical-align:top; 
    position:relative;
    text-align:left;
    font-size:20px;
}

.navitem3 {
    display: inline-block;
    margin-right:5%;
    margin-left:5%; 
    vertical-align:top; 
    position:relative;
    text-align:left;
    font-size:20px;
}

ul {
    list-style-type: none;

}

.dropdown {
    display:none;
}

/************************modal***************************
*********************************************************/
.modal {
    display: none;
}

#modal-container {
    width:100%;
    height:100%;
    z-index: 100;
}

#modal-overlay {
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    opacity:50%;
    position:absolute;
    /*display:none;*/
    top:0;
}

#modal-box {
    width: 500px;
    height:260px;
    /*background-color:#5485BB;*/
    position:absolute;
    left:50%;
    margin-left:-250px;
    top:50%;
    margin-top:-130px;
    z-index:100;
    background-color:#EFEFEF;
    border-radius:3px;
}

#modal-box2 {
    width: 500px;
    height:300px;
    position:absolute;
    left:50%;
    margin-left:-250px;
    top:50%;
    margin-top:-150px;
    z-index:100;
    background-color:#EFEFEF;
    border-radius:3px;
}

#modal-box3 {
    width: 300px;
    height:200px;
    position:absolute;
    left:50%;
    margin-left:-150px;
    top:50%;
    margin-top:-130px;
    z-index:100;
    background-color:#EFEFEF;
    border-radius:3px;
}

#modal-box4 {
    width: 50%;
    height:80%;
    position:absolute;
    left:50%;
    margin-left:-300px;
    top:50%;
    margin-top:-400px;
    z-index:100;
    background-color:#EFEFEF;
    border-radius:3px;

}

#modal-box5 {
    width: 600px;
    height:800px;
    position:absolute;
    left:50%;
    margin-left:-300px;
    top:50%;
    margin-top:-400px;
    z-index:100;
    background-color:#EFEFEF;
    /*padding:20px;*/
    border-radius:3px;

}

#modal-box6 {
    width: 400px;
    height:200px;
    position:absolute;
    left:50%;
    margin-left:-200px;
    top:50%;
    margin-top:-100px;
    z-index:100;
    padding:15px;
    text-align:center;
    background-color:#EFEFEF;
    border-radius:3px;
    border: 8px;
    border-style:solid;
    border-color: #5D9183;
}

#modal-box7 {
    width: 400px;
    height:100px;
    position:absolute;
    left:50%;
    margin-left:-200px;
    top:50%;
    margin-top:-100px;
    z-index:100;
    padding:15px;
    text-align:center;
    background-color:#EFEFEF;
    border-radius:3px;
    border: 8px;
    border-style:solid;
    border-color: #5D9183;
    
    /*vertical-align:center;*/
}

#modal-box8 {
    width: 400px;
    height:100px;
    position:absolute;
    left:50%;
    margin-left:-200px;
    top:50%;
    margin-top:-100px;
    z-index:100;
    padding:15px;
    text-align:center;
    display:none;
    background-color:#EFEFEF;
    border-radius:3px;
    border: 8px;
    border-style:solid;
    border-radius:3px;
    border-color: #5D9183;

    /*vertical-align:center;*/

}
#Modal-Header {
    color:#5485BB;
    font-size:25;
    padding:20px;
    font-weight:100;
    opacity: .7;
}

.Modal-Content {
    margin-left:20px;
}

.Modal-Content5 {
    margin-left:20px;
}

#Modal-Footer {
    margin-right:20px;
    text-align:center;
}

/************************modalbuttons***************************
*********************************************************/
#button0 {
    color:#5485BB;
    background-color:rgba(0,0,0,0.5);
    background-color:#FFFFFF;
    display:inline-block;
    font-size:10;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:900;
    cursor:pointer;
    width:200px;

}
#button1 {
    color:#5485BB;
    background-color:rgba(0,0,0,0.5);
    background-color:#FFFFFF;
    display:inline-block;
    font-size:10;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:900;
    cursor:pointer;
    width:200px;

}

#button2 {
    color:#5485BB;
    background-color:rgba(0,0,0,0.5);
    background-color:#FFFFFF;
    display:inline-block;
    font-size:10;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:900;
    cursor:pointer;
    width:200px;
    margin-top:30px;
    margin-left:15px;
}


#button3 {
    color:#5485BB;
    background-color:rgba(0,0,0,0.5);
    background-color:#FFFFFF;
    display:inline-block;
    font-size:10;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:900;
    cursor:pointer;
    width:200px;
    margin-top:30px;
    margin-left:15px;
}

#button4 {
    color:#5485BB;
    background-color:rgba(0,0,0,0.5);
    background-color:#FFFFFF;
    display:inline-block;
    font-size:10;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:900;
    cursor:pointer;
    width:200px;
    margin-top:30px;
    margin-left:15px;
}

#button5 {
    color:#5485BB;
    background-color:rgba(0,0,0,0.5);
    background-color:#FFFFFF;
    display:inline-block;
    font-size:10;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:900;
    cursor:pointer;
    width:200px;
    margin-top:30px;
    margin-left:15px;
}

.USERNAME {
    border: 2px solid white;
    padding: 10px;
    background: transparent;
    margin: 0px;
    margin-bottom: 20px;
    width: 435px;
    font-size: 12px;
    font-weight: 700;
    color: #5485BB;
}

.PASSWORD {
    border: 2px solid white;
    padding: 10px;
    background: transparent;
    margin: 0px;
    margin-bottom: 20px;
    width: 435px;
    font-size: 12px;
    font-weight: 700;
    color: #5485BB;
}

.EMAIL {
    border: 2px solid white;
    padding: 10px;
    background: transparent;
    margin: 0px;
    margin-bottom: 20px;
    width: 435px;
    font-size: 12px;
    font-weight: 700;
    color: #5485BB;
}

.USERNAME::-webkit-input-placeholder  {
color: #5485BB;
}

.PASSWORD::-webkit-input-placeholder  {
color: #5485BB;
}

.EMAIL::-webkit-input-placeholder  {
color: #5485BB;
}

/************************postbutton***************************
*********************************************************/

#post {
    display:none;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
/*
ul.hor-nav {
    width: 1500px;
}*/